<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    
    <title>Galería</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/icon.png" alt="logo pag">
            <h2 class="nombre-pag"> PlantNaville</h2>
        </div>
        <nav>
            <a href="{{url_for('home')}}">Inicio</a>
            <a href="{{url_for('Galeria')}}">Galeria</a>
            <a href="{{url_for('Agregar')}}">Agregar</a>
            <a href="{{url_for('Acerca')}}">Acerca de</a>
        </nav>
    </header>

    <h2 class="titulo"> Galería de plantas </h2>
   <div id="prueba">
    {% for img in registroDB %}
        <div class="destacados">
            <li class="datos" id="#">
                <blockquote>
                    <img class="img-fluid" src="{{img[2]}}" height="250px" width="300px"/> 
                <p class="parrafo-galeria">
                    <b>{{img[0]}}</b>
                </br>
                    <b>N. CIENTIFICO: </b> <i>{{img[1]}}</i>
                </br>
                    <b>DESCRIPCION: </b> <i>{{img[3]}}</i>
                </br>
                </blockquote>
            </p>
            </div>
            </li>
            {% endfor %}
        </div> 
</body>
</html>